<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>AppRTCDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>libjingle_xmpphelp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>login.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>peerconnection_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>relayserver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>stunserver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>turnserver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>082CFB8B62EC9EB6A8DE7520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>257F04038E0DD4F06DF162F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C52A1C9D9A8C22667B68FFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33337E7CAE323C1BBE72D039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88320FFCA0CA2A9EF3A3A7A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A62084D1222E1D227138789B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C26F285447C9183C65813EE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D445561B5270A137A4B7BD42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
