<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>libjingle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libjingle_media.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libjingle_p2p.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libjingle_peerconnection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libjingle_peerconnection_objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libjingle_sound.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>testyhj.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29B9766217C1BFA600414522</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47E6A9F577E94FA216CE28CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A5819C3A2AFACB096EE0792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FBB32061B4704DEEE6D0A27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BDE4DC25DE77F07A66426A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>782E8193107BB38F530E75A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAA579649E71CD3517DD62E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD2F264A93D7B6AE8B8E2A5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
