<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>gunit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>libjingle_media_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>libjingle_p2p_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>libjingle_peerconnection_objc_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>libjingle_peerconnection_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>libjingle_sound_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>libjingle_unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>libjingle_unittest_main.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A030B96B14843883BD8AFC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>446FC373F54813D2C47B49FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774A3F63820B8D63E50D5C79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9BB0F1B5A377E96887149CFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2B3FBEAF24398C8FEFE663F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BED61D6B04C854C425112A06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E60D87CE08E63AC11DB02F62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECCD16D4DE6FD14D19943F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8AF458167D8E541FA59FFC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
